# Ignore everything
/*
# ~~ Except... ~~
!.gitignore
!.gitmodules

# Window Managers
!hypr/
!niri/
!qtile/
!awesome/
!spectrwm/
!wayfire.ini

!common_scripts/

# Some nice programs
!lemurs.toml
!ghostty/
!kitty/
!alacritty/
!sxhkd/
!tofi/
!rofi/
!wofi/
!picom/
!qutebrowser/
!zathura/
!mpv/

# Terminal programs
!fish/
!ranger/
!lf/
!yazi/
!cava/
!htop/
!btop/
!vim/
!nvim/

# Misc
!xkb/
!glow/
!waybar/
!mako/
!swaync/

# And files
README.md
!every-arch.md
!starship.toml
!libinput-gestures.conf
!mimeapps.list
!.XCompose

