// [[ NIRI CONFIG (git version) ]]
// KDL format wiki: https://kdl.dev
// Niri config wiki: https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
// New Niri config wiki: https://yalter.github.io/niri/
// Niri Arch wiki: https://wiki.archlinux.org/title/Niri#WASD-like_navigation
// NOTE: nodes can be commented prefixing them with "/-"

// [[ INCLUDES ]]
include "startup.kdl"
include "environment.kdl"
include "input.kdl"
include "output.kdl"
include "cursor.kdl"
include "gestures.kdl"
include "binds.kdl"
include "layout.kdl"
include "named_workspaces.kdl"
include "window_rules.kdl"
include "animations.kdl"

// [[ MISC ]]
// Some misc. config parameters: https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#screenshot-path

// screenshot-path wiki: https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#screenshot-path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
    // hide-not-bound
}

